{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Systems" %}

{% block content %}
    <h1>Systems</h1>

    {% for entry in craft.entries.section('systems').find() %}

        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>

    {% endfor %}
{% endblock %}
